<nb-card *ngIf="formGroup">
    <nb-card-header>
        <label>{{encounter.encounterName}}</label>
        <button nbButton class="sort-button" status="primary" size="small" (click)="sortEncounter()">
        <nb-icon icon="arrow-upward-outline"></nb-icon>
        </button>
    </nb-card-header>
    <form [formGroup]="formGroup">
        <ng-container formArrayName="encounterFormArray">
            <nb-list>
                <nb-list-item *ngFor="let encounterForm of encounterFormArray.controls; let i = index">
                    <ng-container [formGroup]="encounterForm">
                        <nb-layout-column>
                            <div class="form-field-container">
                                <label>Name</label>
                                <input type="text" nbInput placeholder="Name" fieldSize="medium" formControlName="name">
                            </div>
                        </nb-layout-column>
                        <nb-layout-column>
                            <div class="form-field-container">
                                <label>Initiative</label>
                                <input type="text" nbInput placeholder="Initiative Score" fieldSize="medium" formControlName="initiativeScore">
                            </div>
                        </nb-layout-column>
                        <nb-layout-column>
                            <div class="form-field-container">
                                <label>Armour Class</label>
                                <input type="text" nbInput placeholder="Armour Class" fieldSize="medium" formControlName="armorClass">
                            </div>
                        </nb-layout-column>
                        <nb-layout-column>
                            <div class="form-field-container">
                                <label>Current HP</label>
                                <input class="hp" type="text" nbInput placeholder="Current HP" fieldSize="medium" formControlName="currentHitPoints">
                            </div>
                        </nb-layout-column>
                        <nb-layout-column>
                            <div class="form-field-container">
                                <label>Total HP</label>
                                <input class="hp"  type="text" nbInput placeholder="Total HP" fieldSize="medium" formControlName="totalHitPoints">
                            </div>
                        </nb-layout-column>
                        <nb-layout-column class="delete-column">
                            <button nbButton class="sort-button" status="primary" size="medium" (click)="deleteForm(i)">
                                <nb-icon icon="trash-2-outline"></nb-icon>
                            </button>
                        </nb-layout-column>
                    </ng-container>
                </nb-list-item>
                <nb-list-item class="add-row" (click)="addForm()">
                    <p><nb-icon icon="plus-outline"></nb-icon> Add an entity</p>
                </nb-list-item>
            </nb-list>
        </ng-container>
    </form>
  </nb-card>